/*Body*/
body {
    /*Background*/
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: inline-flex;
    margin: 0 ;
    justify-content: center;
    align-items: center;
}
/*Title*/
.h1 { 
    display: block;
    font-family: 'Roboto';
    font-size: 20px;
    position: fixed;        
    top: 0;                  
    left: 0;                 
    right: 0;                
    width: 100%;             
    text-align: center;  
    z-index: 1;         
}
@media screen and (max-width: 600px) {
.h1 {
    display: block;
    font-size: 12px;
    font-family: 'Roboto';
    position: relative;
    align-items: center;
    align-content: center;
    width: fit-content;
    text-align: center;
    z-index: 0; 
    transform: translateX(25%);
    }
}
/*Divider*/
.horizontal-line {
    width: 50%;            
    height: 1px;           
    background-color: #000; 
    margin: 10px auto;    
}
/*Top Container*/
.topcontainer {
    display: flex;           
    flex-direction: row;   
    justify-content: space-between; 
    font-family: 'Roboto';
    position: absolute;     
    top: 20%;               
    left: 50%;              
    transform: translateX(-50%); 
    align-items: center;
}
@media screen and (max-width: 600px) {
    .topcontainer {
    display: inline-block;
    justify-content: space-between;
    }
}
/*Bottom Container*/
.botcontainer {
    display: flex;          
    flex-direction: row;    
    justify-content: space-between; 
    font-family: 'Roboto';
    position: absolute;      
    top: 45%;             
    left: 50%;             
    transform: translateX(-50%); 
    align-items: center;
}
@media screen and (max-width: 600px) {
    .botcontainer {
    display: inline-block;
    justify-content: space-between;
    top: 60%;
    }
}
/*1-Convert a percentage into a number*/
.container1 { 
    font-family: 'Roboto';
    position: relative;
    padding: 10px; 
    margin: 20px;
    border: #000 solid 1px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
}
/*2-Convert a number into a percentage*/
.container2 { 
    font-family: 'Roboto';
    position: relative;
    padding: 10px; 
    margin: 20px;
    border: #000 solid 1px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
}
/*3-Increase percentage*/
.container3 { 
    font-family: 'Roboto';
    position: relative;
    padding: 10px; 
    margin: 20px;
    border: #000 solid 1px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
}
/*4-Decrease percentage*/
.container4 { 
    font-family: 'Roboto';
    position: relative;
    padding: 10px; 
    margin: 20px;
    border: #000 solid 1px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
}
/*5-Variations*/
.container5 { 
    font-family: 'Roboto';
    position: relative;
    padding: 10px; 
    margin: 20px;
    border: #000 solid 1px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
}
/*Containers titles*/
.title {
    font-weight: bold;
    margin-bottom: 1rem;
    align-self: baseline;
    text-decoration: underline;
}
/*Submit Button*/
.submit {
    position: absolute;
    bottom: 10px;    
    right: 10px;       
    background: none;
    border: none;
    text-align: center;
    color: whitesmoke;
    background-color: #fa709a;
    padding: 5px 10px;
    border-radius: 2rem;
    cursor: pointer;
}
/*Dark mode*/
.dark-mode {
    /*Background*/
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,0,0,1) 28%, rgba(2,2,21,1) 80%, rgba(9,9,121,1) 100%);
    /*Font color*/
    color: #eceaea;
}
/*Containers borders*/
.dark-mode .container1,
.dark-mode .container2,
.dark-mode .container3,
.dark-mode .container4,
.dark-mode .container5 {
    border: solid white 1px;
}
/*Dark/Day mode button*/
.darkMode {
    font-family: 'Roboto';
    border-radius: 10px;
    color: #eceaea;
    background-color: #010139;
}
.dark-mode .horizontal-line {
    background-color: #eceaea;
}
.dark-mode .darkMode {
    color: black;
    background-color: #f6ff8a;
}