/*Body*/
body {
    /*Background*/
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: inline-flex;
    margin: 0 ;
    justify-content: center;
    align-items: center;
}
/* Title */
.h1 { 
    display: block;
    font-family: 'Roboto';
    position: fixed;        
    top: 0;                  
    left: 0;                 
    right: 0;                
    width: 100%;             
    text-align: center;  
    z-index: 1000;         
}
/* Top Container */
.topcontainer {
    display: flex;           
    flex-direction: row;   
    justify-content: space-between; 
    font-family: 'Roboto';
    position: absolute;     
    top: 20%;               
    left: 50%;              
    transform: translateX(-50%); 
    align-items: center;
}
/* Bottom Container */
.botcontainer {
    display: flex;          
    flex-direction: row;    
    justify-content: space-between; 
    font-family: 'Roboto';
    position: absolute;      
    top: 45%;             
    left: 50%;             
    transform: translateX(-50%); 
    align-items: center;
}
/*1-Convert a percentage into a number*/
.container1 { 
    font-family: 'Roboto';
    position: relative;
    padding: 10px; 
    margin: 20px;
}
/*2-Convert a number into a percentage*/
.container2 { 
    font-family: 'Roboto';
    position: relative;
    padding: 10px; 
    margin: 20px;
}
/*3-Increase percentage*/
.container3 { 
    font-family: 'Roboto';
    position: relative;
    padding: 10px; 
    margin: 20px;
}
/*4-Decrease percentage*/
.container4 { 
    font-family: 'Roboto';
    position: relative;
    padding: 10px; 
    margin: 20px;
}
/*5-Variations*/
.container5 { 
    font-family: 'Roboto';
    position: relative;
    padding: 10px; 
    margin: 20px;
}
