/*Body*/
body {
    /*Background*/
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: inline-flex;
    margin: 0 ;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
}
/*Title*/
.h1 { 
    display: block;
    font-family: 'Roboto';
    font-size: 20px;
    position: fixed;        
    top: 0;                  
    left: 0;                 
    right: 0;                
    width: 100%;             
    text-align: center;  
    z-index: 1;         
}
@media screen and (max-width: 600px) {
.h1 {
    display: block;
    font-size: 12px;
    font-family: 'Roboto';
    position: relative;
    align-items: center;
    align-content: center;
    width: fit-content;
    text-align: center;
    z-index: 0; 
    transform: translateX(25%);
    }
}
/*Divider*/
.horizontal-line {
    width: 50%;            
    height: 1px;           
    background-color: #000; 
    margin: 10px auto;    
}
/*Top Container*/
.topcontainer {
    display: flex;           
    flex-direction: row;   
    justify-content: space-between; 
    font-family: 'Roboto';
    position: absolute;     
    top: 20%;               
    left: 50%;              
    transform: translateX(-50%); 
    align-items: center;
}
/*Bottom Container*/
.botcontainer {
    display: flex;          
    flex-direction: row;    
    justify-content: space-between; 
    font-family: 'Roboto';
    position: absolute;      
    top: 45%;             
    left: 50%;             
    transform: translateX(-50%); 
    align-items: center;
}
.results {
    font-weight: bold;
}